body, html{
    height:100%;
}
h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 70px;
	color: #a50297;
	line-height: 80px;
	font-weight: 400;
	text-align: center;
}

h2 {
	font-size: 24px;
	color: #42C3C9;
	line-height: 29px;
}

h3 {
	font-size: 24px;
	/* color: #ffffcc; */
	line-height: 23px;
	text-decoration: underline;
	text-transform: uppercase;
	color: #1b9391;
}
h4{
    font-size: 30px;
    color: white;
    line-height: 10px;
    text-transform: uppercase;
    text-decoration: underline;

 }
a{
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    margin: auto;
    /* color: hotpink; */
    /* background-color:azure; */
    background-color: #f99ca7;
    color: #1c9492;
}
a:visited{
     /* color:#3333ff; */
}
p{
    font-size: 30px;
    font-weight: bolder;
    color: white;
    color: #f88f9e;
}
label{
    font-size: 20px;
    color: white;
    
}
strong{
   font-size: 25px;
   line-height: 20px;
   font-weight: bold;
color: #0000cc;
}
.padding-top {
	padding-top: 30px;
}
.padding-bottom {
	padding-bottom: 30px;
}
.margin-right {
	margin-right: 0px;
}
.padding-none {
	padding: 0;
}
.btn {
	padding: 20px;
	margin: 0;
	/* border-color: #0000cc; */
	border-width: 2px;
	color: #0000cc;
}

.btn.delete {
	border-color: #aaaaaa;
	color: #aaaaaa;
}
.btn.delete:hover {
	border-color: #aaaaaa;
	color: rgb(158, 52, 158);
}
.glyphicon {
	margin-right: 10px;
}
.top-menu {
	padding-top: 30px;
	padding-bottom: 30px;
}
.top-menu p {
	margin-bottom: 0;
	line-height: 16px;
}
.top-menu a {
	margin-bottom: 0;
	line-height: 16px;
	font-weight: 400;
	font-weight: bold;
	color: #a50297;
}
.divider {
	height: 5px;
}
.divider.blue {
	background-color: #a50297;

}
.banner.main {
	height: 150px;
	background:url(../static/top-banner.jpg);
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner h1 {
	margin: 40px 0;
}
.creator {
	padding-right: 20px;
	margin-top: -20px;
	text-align: right;
	float:right;
}
.flash {
	background-color: #ffffff;
	width:100%;
	text-decoration:underline;
}

.flash li {
	list-style-type:none;
	text-align: center;
    color: rgb(0, 26, 255);
}