<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Brands</title>
<link rel="shortcut icon"type="image/x-icon" href="../static/brand.ico" />
</head>
<body>

<!DOCTYPE html>
<html lang="en">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="/static/StyleSheet.css">
<link rel="shortcut icon"type="image/x-icon" href="../static/brand.ico" />
	</head>
	<body>
		<div class="container">

			
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
<link rel="shortcut icon"type="image/x-icon" href="../static/brand.ico" />
</head>
<body>
  
<div class="row top-menu">
	<div class="col-md-6">
		<a href="/brand/"class="btn btn-light">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Brands
		</a>
	</div>
	<div class="col-md-6 text-right">
					

			<a href="/disconnect"class="btn btn-light"
 			<span class="glyphicon glyphicon-log-out"></span> Logout</a>
			
		
	</div>
</div>
  
</body>
</html>

	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Brands</h1>
		</div>
	</div>

<div class = 'flash'>
		      
      
    

</div>

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="/brand/new/">
				<button class="btn btn-default" id="new-brand">
					<span class="glyphicon glyphicon-film" aria-hidden="true"></span>Add Brand
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
	
		<a href = "/brand/2/prodact/">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 brand-list">
						<h3> Brand  2</h3>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
	
		<a href = "/brand/1/prodact/">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 brand-list">
						<h3> Brand1</h3>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
	

		</div>
	</body>
</html>